amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.19
celery==3.1.17
Django==1.8a1
elasticsearch==1.4.0
elasticsearch-dsl==0.0.3
kombu==3.0.24
psycopg2==2.6
python-dateutil==2.4.0
pytz==2014.10
redis==2.10.3
six==1.9.0
urllib3==1.10.1
